<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>アイテムのドロップ率</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" integrity="sha384-wCtV4+Y0Qc1RNg341xqADYvciqiG4lgd7Jf6Udp0EQ0PoEv83t+MLRtJyaO5vAEh" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74401236-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>アイテムのドロップ率</h1>
          <p>クエストを1回クリアしたとき、目当てのアイテムがドロップする確率を表示します（Ver.7.1i仕様）<br />
             IE8以下は非対応　<a href="https://github.com/babylon114514/marisuto-drop-probability/commits/gh-pages">更新履歴</a>　<a href="http://ask.fm/babylon114514">不具合報告等連絡先</a>　<a href="index.html">ユニット版</a></p>
          <table v-if="selectedTarget.constructor === Difficulty"><!-- instanceofだと何故か動かない -->
            <tr>
              <th v-text="'何でもいいのでアイテム1個'"></th>
              <td v-text="result.totalDropProbabilityString"></td>
            </tr>
            <tr v-for="row in result.rows">
              <th>
                <del v-if="trophies[row.entity.id]">
                  <a href="javascript:void(0)" v-on:click="selectedTarget = row.entity" v-text="row.entity.name"></a>
                </del>
                <a v-else href="javascript:void(0)" v-on:click="selectedTarget = row.entity" v-text="row.entity.name"></a>
              </th>
              <td v-text="row.dropProbabilityString"></td>
            </tr>
          </table>
          <table v-if="selectedTarget.constructor === Item &amp;&amp; result.rows.length > 0">
            <tr v-for="row in result.rows">
              <th>
                <del v-if="row.entity.isFinished">
                  <a href="javascript:void(0)" v-on:click="selectedTarget = row.entity" v-text="row.entity.name"></a>
                </del>
                <a v-else href="javascript:void(0)" v-on:click="selectedTarget = row.entity" v-text="row.entity.name"></a>
              </th>
              <td v-text="row.dropProbabilityString"></td>
            </tr>
          </table>
          <p v-if="selectedTarget.constructor === Item &amp;&amp; result.rows.length === 0" v-text="'（出現クエストが）ないです'"></p>
        </div>
        <div class="col-sm-6">
          <h2>設定</h2>
          <section>
            <h3>クエスト</h3>
            <select id="gachas" v-select="selectedGachaString">
              <option value="null">------</option>
              <option v-for="difficulty in Difficulty.all" v-bind:value="'Difficulty ' + difficulty.id" v-text="difficulty.name"></option>
            </select>
          </section>
          <section>
            <h3>アイテム</h3>
            <select id="items" v-select="selectedItemString">
              <option value="null">------</option>
              <optgroup label="未入手">
                <option v-for="item in uncollectedItems | orderBy 'order'" v-bind:value="'Item ' + item.id" v-text="item.name"></option>
              </optgroup>
              <optgroup label="入手済">
                <option v-for="item in collectedItems | orderBy 'order'" v-bind:value="'Item ' + item.id" v-text="item.name"></option>
              </optgroup>
            </select>
          </section>
          <section>
            <h3>クォクォア量</h3>
            <select v-model="isCocoafulString">
              <option value="true">Wave数以上ある</option>
              <option value="false">不足している</option>
            </select>
          </section>
          <section>
            <h3>アイテム獲得状況</h3>
            <input type="button" value="全て入手済" v-on:click="checkAllTrophies" />
            <input type="button" value="全て未入手" v-on:click="uncheckAllTrophies" />
            <input v-if="!isLoading" type="button" value="インポート" v-on:click="importTrophies" />
            <input v-else type="button" value="インポート" disabled />
            <br />
            <span v-for="item in Item.all | orderBy 'order'">
              <input type="checkbox" v-model="trophies[item.id]" v-on:change="reloadSelectedItem" /> {{item.name}}<br />
            </span>
          </section>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" integrity="sha384-XxcvoeNF5V0ZfksTnV+bejnCsJjOOIzN6UVwF85WBsAnU3zeYh5bloN+L4WLgeNE" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/jaubourg/ajaxHooks/e7a9e0c34f6380b183cdd0790efad51c06613638/src/xdr.js" integrity="sha384-9Ps3We3zMMEScZhxG3HiN0h4cknNq6R4no6nVewH3uUDx8U2j5HeQ3kFL+wn30rI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js" integrity="sha384-iViGfLSGR6GiB7RsfWQjsxI2sFHdsBriAK+Ywvt4q8VV14jekjOoElXweWVrLg/m" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/i18n/ja.js" integrity="sha384-uQ9xxDCmxyWGPgx9LLZgmNt1Xm3Y52XVJmvF8FBR8JBmQIZbIxL91JymBGMGpDcL" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/panorama-ed/maximize-select2-height/0b1ac0e53b120f555604acf505108552ba8b8286/maximize-select2-height.min.js" integrity="sha384-BRHxG6wKvLh+2PPfqqIItIuWbrJRKQkPa8wSo0bqk0fbH48gi3p1gzMkaTVUGYas" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.min.js" integrity="sha384-JQiwn7SmmvnnERspKQ5PNuxZIEJ9ypL81PN+lyowkoIUy69Kims/WrpGqJ2P9SSD" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js" integrity="sha384-2zfre+rXCk/YoX46nsdS0805ZXvWNMxiMopeJFqaVcMjStV8kC3R5gJ1SgokpTst" crossorigin="anonymous"></script>
    <script src="dist/item.main.min.js?1489932467"></script>
  </body>
</html>
